#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Apply font-family to all elements and override any other font settings
    Use system fonts for better performance and consistency across devices
*/
* {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.footer {
  background-color: #c00;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: auto;
  /* Pushes the footer to the bottom */
}

.banner {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 100%;
  height: auto;
}

.welcome-text {
  text-align: center;
  color: black;
  /* Make the text black */
  margin-top: 20px;
}

.section {
  padding: 20px;
}

header {
  background-color: #c00;
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .logo-image {
  height: 50px;
}

header .search-bar {
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

header .search-bar input {
  border: none;
  outline: none;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-icon-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.header-icon-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Product Card Styles */
.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.signInContainer {
  display: flex;
  justify-content: center;
}

.code {
  background: #272822;
  display: block;
  word-break: break-all;
  padding: 20px;
  text-align: left;
  border-radius: 4px;
  color: #fd971f;
  font-size: small;
}

.overlay {
  position: fixed;
  /* Fixed position to stay in place even when scrolling */
  top: 0;
  /* Position at the top of the viewport */
  left: 0;
  /* Position at the left of the viewport */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 9999;
  /* High z-index to appear above other elements */
  display: flex;
  /* Flexbox to center content */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sign-out-button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 16px;
}

.sign-up-button {
  background: black;
  color: white;
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 400;
  margin-top: -120px;
}


.errorBox {
  color: #c00;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.popup-box {
  background-color: white;
  position: fixed;
  top: 60%;
  left: 63%;
  transform: translate(50%, -50%);
  z-index: 1000;
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding: 0;
  padding-top: 0 !important;
  min-width: 25%;
  color: black;

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.popup-box-overlay {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgb(0 0 0 / 76.8%);
  z-index: 100;
}

.dotcomminicartflyoutstyles__productImage {
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.sign-in-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-width: 100px;
}

.sign-up-box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  min-width: 100px;
  padding: 0px 30px;
  height: 100%;
}

.sign-up-title {
  background-color: #CC0100;
  padding: 26px 30px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  margin: 0px;
  width: 500px;

}

.back-to-sign-in-container {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 9px 14px 0px;
  -webkit-box-flex: 0;
  padding: 12px 24px;
  z-index: 12000;
  background: white;
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.Box-circularProgressHolder {
  min-height: 300px !important;
}

.OxygenSignInPaper {
  border: none;
  width: 100% !important;
  padding: 0px !important;
  max-width: none !important;
}

.OxygenSignIn {
  flex-flow: unset !important;
  width: 100% !important;
  padding: 0px 30px !important;
  max-width: unset !important;
}

.Box-asgardeoSignIn {
  min-height: 100px !important;
}

.Typography-basicAuthTitle {
  background-color: #CC0100;
  padding: 28px 50px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  margin-left: -50px;
  margin-right: -50px;
}

.signup-box {
  background-color: white;
  position: fixed;
  right: 0;
  transform: translate(0%, 0%);
  z-index: 1200;
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  width: 486px;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Verdana', 'Arial', sans-serif !important;
  border-radius: 0 4px 4px 0;
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.signup-box h5 {
  background-color: #CC0100;
  padding: 26px 30px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  width: 100%;
  margin: 0;
}

.back-to-sign-in-button {
  color: #000;
  text-transform: none;
}

.signup {
  font-weight: bold;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding: 0px;
  height: 100%;
}

.user-form input {
  height: 2.5em;
  margin: 0px;
  margin-bottom: 10px;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  font-weight: 400;
  font-size: 1rem;
  cursor: text;
  width: 100%;
  border-radius: 4px;
  padding-left: 15px;
  border-color: #bdbdbd;
  text-align: left;
  border-style: solid;
  border-width: 1px;
}

input {
  height: 2.5em;
  margin: 0px;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  font-weight: 400;
  font-size: 1rem;
  cursor: text;
  width: 100%;
  border-radius: 4px;
  padding-left: 15px;
  border-color: #bdbdbd;
  text-align: left;
  border-style: solid;
  border-width: 1px;
}

.user-form input::placeholder {
  color: #c7c7c7;
}

input::placeholder {
  color: #c7c7c7;
}

.user-form label {
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  color: #505050;
}

label {
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  text-align: left;
}

.form-primary-button {
  font-weight: 700 !important;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.1s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px !important;
  border-radius: 40px !important;
  padding: 10px 28px !important;
  background: rgb(204, 0, 0) !important;
  border: none;
  text-align: center;
  display: flex;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 20px !important;
  color: white !important;
  text-transform: none !important;
}

.user-form button:hover {
  cursor: hand;
}

.user-form .error-message {
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 6px 16px;
  color: var(--oxygen-palette-Alert-errorColor);
  background-color: var(--oxygen-palette-Alert-errorStandardBg);
}

.user-form .success-message {
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 6px 16px;
  color: green;
  background-color: rgb(216, 250, 216);
}

.sign-in-children-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OxygenSignInButton {
  font-weight: 700;
  height: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.1s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px;
  border-radius: 40px;
  padding: 10px 28px;
  background: rgb(204, 0, 0) !important;
  border: none;
  text-align: center;
  display: flex;
  width: 180px;
  margin: 10px auto !important;
}

.create-account-button {
  justify-content: center !important;
  transition: all 0.1s ease-in 0s !important;
  box-shadow: none !important;
  border-radius: 30px !important;
  padding: 7px 27px !important;
  border: 1px solid rgb(150, 150, 150) !important;
  background: white !important;
  display: flex !important;
  color: #000 !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.privacy-notice-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  width: 80%;
}

.sign-in-box-bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-animation {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #0cba12; /* Green */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  animation: fadeInOut 3s;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border-left-color: #CC0100;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Lower than success animation */
}

.button-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.bottom-container {
  box-shadow: rgba(156, 156, 156, 0.7) 0px 0px 6px;
  width: 500px;
  padding: 10px 30px;
}

.form-parent-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  justify-content: space-between;
}

.form-field-container {
  padding: 10px 30px;
}

.form-input {
  margin-bottom: 10px;
}